.conteudo-admin{

  a.botao-padrao{
    cursor: pointer;
    .inline;
    padding: 10px 20px;
    border: 1px @primary solid;
    .asap(15px, bold);
    color: #fff;
    background: @primary;
    transition: all .3s ease-in;
    margin: 14px 0;
    &:active, &:visited{color:#fff;}
    &:hover{
      color:@tertiary;
    }
  }

  .link-area-usuario{
    float: right;
    color: @primary;
    .asap(13px);
    &:active, &:visited{color:@primary;}
    &:hover{
      color:@tertiary;
    }
  }

  ul.padrao{
    border-bottom: 1px @success solid;
    li{
      background: #fff;
      color:@success;
      padding: 6px 0 6px 3px;
      border-top: 1px @success solid;
      .asap(15px);
      display: block;
      &.erro{color:@warning;}
    }
  }

  h2{
    .montserrat(24px, bold);
    color: @primary;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
    @media @small{
      line-height: 160%;
      span{
        padding: 0 15px;
      }
    }
  }

  p.header{
    .montserrat(16px);
    line-height: 150%;
    border-left: 1px @primary solid;
    border-right: 1px @primary solid;
    border-top: 1px @primary solid;
    background: @secondary;
    width: 35%;
    span{
      color: @primary;
      font-size: 16px;
      font-weight: bold;
      padding: 0 20px 0 10px;
    }
    @media @small{
      width: 100%;
    }
  }

  p.destaque{
    color: @tertiary;
    .asap(14px);
    line-height: 150%;
    text-align: center;
    margin: 30px 0 100px 0;
    font-size: 18px;
  }

  .lista-coordenadores{
    margin-top: 50px;
  }

  .lista-avaliacoes{
    margin-top: 80px;
  }

  .lista-ranking{
    margin-top: 35px;
    width: 100%;
    counter-reset: ranking;
    .linha{
      width: 100%;
      @media @large{
        align-items: stretch;
        display: flex;
      }
    }
    position: relative;
    &:after{
      content: attr(data-label);
      .asap(16px, bold);
      color:@primary;
      position: absolute;
      top:0;
      left: 20px;
      transform: translateY(-170%);
    }
  }

  .linha-loader{
    height: 50px;
    margin: 15px 0;
    text-align: center;
    background: url('/images/loader.svg') center center no-repeat;
  }

  .lista-coordenadores,
  .lista-casos,
  .lista-avaliacoes,
  .lista-ranking{
    margin-bottom: 40px;
    .linha{
      background: #fff;
      font-size: 0;
      min-height: 60px;
      border: 1px @secondary solid;
      border-bottom: none;
      @media @small{
        min-height: 30px;
        margin-bottom: 5px;
        border-bottom: 1px @secondary solid;
      }

      &:last-child{
        border-bottom: 1px @secondary solid;
      }

      &.com-titulo:first-child{
        position: relative;
        &:after{
          content: attr(data-label);
          .montserrat(16px, bold);
          background:@secondary;
          color:@primary;
          position: absolute;
          border: 1px @secondary solid;
          bottom: 100%;
          left: -1px;
          padding: 3px 0;
          text-indent: 10px;
          width: 28%;
          @media @small{
            width: 100%;
          }
        }
      }


      .nenhum{
        width: 100%;
        line-height: 60px;
        text-align: center;
        .asap(20px, bold);
        color:@secondary;
        @media @small{
          box-sizing: border-box;
          padding: 10px;
          font-size: 18px;
          line-height: 110%;
        }
      }


      .titulo{
        .inline;
        width: 35%;
        height: 60px;
        @media @medium{
          width: 30%;
        }
        a{
          display: block;
          transition: background .3s ease-in;
          span{
            .inline;
            line-height: 60px;
            .asap(16px);
            color: @tertiary;
            box-sizing: border-box;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 55px 0 20px;
            background: url('/images/icone_download.png') right center no-repeat;
            transition: color .3s ease-in;
          }
          &:hover{
            background: @tertiary-faded;
            span{
              color:#fff;
            }
          }
        }
        @media @small{
          width: 100%;
          height: auto;
          min-height: 60px;
          a{
            span{
              width: 100%;
              background-position: 90% center;
            }
          }
        }
      }

      .data{
        .inline;
        width: 20%;
        @media @medium{
          width: 28%;
        }
        span{
          height: 60px;
          line-height: 60px;
          border-right: 1px @secondary solid;
          border-left: 1px @secondary solid;
          display: block;
          text-align: center;
          box-sizing: border-box;
          padding: 0 20px;
          .asap(20px);
          color:@tertiary;
        }
        @media @small{
          width: 100%;
          span{
            height: auto;
            line-height: 140%;
            font-size: 14px;
            width: 100%;
            border-right: none;
            border-left: none;
            border-top: 1px @secondary solid;
            border-bottom: 1px @secondary solid;
            padding: 5px 0;
            &:before{
              content: attr(data-label);
              .asap(12px);
              color:@tertiary;
            }
          }
        }
      }
      &:first-child{
        .data{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(13px);
            color:@tertiary;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
          }
        }
        @media @small{
          .data:after{
            display:none;
          }
        }
      }

      .distribuir{
        .inline;
        width: 18%;
        @media @medium{
          width: 25%;
        }
        a{
          width: 100%;
          box-sizing: border-box;
          display: block;
          background: url('/images/seta-branca.png') @tertiary 15px center no-repeat;
          padding: 8px 10px 0 60px;
          height: 60px;
          line-height: 140%;
          .asap(16px, bold);
          color:#fff;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@tertiary-faded;
          }
        }
        @media @small{
          width: 60%;
          a{
            padding: 8px 8px 0 40px;
            background-position: 10px center;
          }
        }
      }
      .liberar{
        .inline;
        width: 15%;
        @media @medium{
          width: 25%;
        }
        a{
          width: 100%;
          box-sizing: border-box;
          display: block;
          background-color: @secondary;
          padding: 8px 10px;
          text-align: center;
          height: 60px;
          line-height: 140%;
          .asap(16px, bold);
          color:#fff;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@tertiary-faded;
          }
        }
        @media @small{
          width: 60%;
          a{
            padding: 8px 8px 0 40px;
            background-position: 10px center;
          }
        }
      }
      .remover{
        width: 12.002%;
        .inline;
        @media @medium{
          width: 17.002%;
        }
        a{
          width: 100%;
          border-left: 1px @secondary solid;
          box-sizing: border-box;
          display: block;
          background: url('/images/img-excluir.png') @warning-dark 15px center no-repeat;
          padding: 0 10px 0 50px;
          color: #fff;
          height: 60px;
          line-height: 60px;
          .asap(16px, bold);
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@tertiary-faded;
          }
        }
        @media @small{
          width: 40%;
          a{
            padding: 0 6px 0 40px;
            background-position: 10px center;
          }
        }
      }


      .coordenador-nome{
        width: 24%;
        .inline;
        span{
          text-transform: uppercase;
          .asap(16px);
          color: @tertiary;
          display: block;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          padding: 0 20px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        @media @small{
          width: 100%;
          border-bottom: 1px @secondary solid;

        }
      }
      &:first-child{
        .coordenador-nome{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(12px, bold);
            color:@tertiary;
            position: absolute;
            top:0;
            left: 20px;
            transform: translateY(-170%);
            @media @small{display:none;}
          }
        }
      }
      .coordenador-envio{
        width: 19%;
        .inline;
        span{
          display: block;
          border-left: 1px @secondary solid;
          .asap(14px);
          color: @tertiary;
          height: 60px;
          line-height: 60px;
          text-align: center;
          box-sizing: border-box;
          padding: 0 10px;
          strong{
            color: @primary;
            font-weight: bold;
          }
          @media @medium{
            line-height: 110%;
            padding-top: 15px;
          }
        }
        @media @small{
          width: 100%;
          span{
            border-left: none;
            height: auto;
            line-height: 140%;
            padding: 0 0 10px 0;
          }
          &:before{
            content: attr(data-label);
            .asap(13px, bold);
            color:@tertiary;
            width: 100%;
            text-align: center;
            display: block;
            padding: 5px 0 0 0;
          }
        }
      }
      &:first-child{
        .coordenador-envio{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(13px, bold);
            color:@tertiary;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
            @media @small{
              display: none;
            }
          }
        }
      }


      .avaliacao-codigo{
        .inline;
        width: 28%;
        span{
          text-transform: uppercase;
          .asap(16px);
          color: @tertiary;
          display: block;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          padding: 0 20px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        @media @small{
          width: 100%;
          border-bottom: 1px @secondary solid;
        }
      }


      .avaliacao-status{
        .inline;
        width: 12%;
        span{
          line-height: 130%;
          text-align: center;
          height: 60px;
          border-left: 1px @secondary solid;
          display: block;
          color: @tertiary;
          .asap(14px);
          padding: 10px;
          box-sizing: border-box;
          &.pendente{
            padding: 0;
            line-height: 60px;
            color: @primary;
            text-align: center;
            font-weight: bold;
          }
          &.disabled{
            background: @neutral_light;
            height: 60px;
            width: 100%;
            small{display: none;}
          }
        }
        @media @small{
          width: 100%;
          span{
            height: auto;
            border-left: none;
            padding: 5px;
            &.pendente,
            &.disabled{
              padding: 5px;
              height: auto;
              line-height: 120%;
              background:#fff;
              small{display: block;}
            }
            br{display:none;}
          }
          &:before{
            content: attr(data-label);
            .asap(12px, bold);
            color:@tertiary;
            float:left;
            padding: 5px;
          }
        }
      }
      &:first-child{
        .avaliacao-status{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(12px, bold);
            color:@tertiary;
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            text-align: center;
            transform: translateY(-170%);
            @media @small{
              display: none;
            }
          }
        }
      }

      .ranking-item{
        .inline;
        .asap(16px);
        color:@tertiary;
        border-left: 1px @secondary solid;
        &:first-child{border-left: none;}
        p{
          padding: 10px;
          color: @tertiary;
          font-size: 14px;
          line-height: 135%;
          margin: 0;
          &.vazio{
            padding: 15px 10px;
            line-height: 30px;
            font-size: 18px;
          }
        }
        span{
          padding: 15px 10px;
          box-sizing: border-box;
          min-height: 60px;
          display: block;
        }
      }

      .ranking-contador{
        width: 5%;
        text-align: center;
        span{
          &:after{
            counter-increment: ranking;
            color:@tertiary;
            .asap(24px, bold);
            content: counter(ranking);
          }
        }
      }
      .ranking-codigo{
        width: 15%;
        span{
          font-size: 16px;
          line-height: 30px;
        }
        &:after{
          left: -50%;
        }
      }
      .ranking-autor{
        width: 25%;
        span{
          font-size: 18px;
          line-height: 30px;
        }
      }
      .ranking-coautores{
        font-size: 12px;
        width: 25%;
      }
      .ranking-coordenador{
        width: 20%;
        span{
          font-size: 16px;
          line-height: 30px;
        }
      }
      .ranking-pontos{
        width: 10%;
        span{
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          font-weight: bold;
          color:@neutral_dark;
        }
      }
      &:first-child{
        .ranking-item{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(12px, bold);
            color:@tertiary;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            padding: 0 10px;
            transform: translateY(-170%);
            @media @small{display:none;}
          }
          &:nth-child(2):after{
            transform: translateX(-50px) translateY(-170%);
          }
        }
      }

      @media @small{
        .ranking-item{
          border: none;
          &:before{
            content: attr(data-label);
            .asap(11px, bold);
            color:@tertiary;
            padding-left: 10px;
          }
          span{
            padding: 10px;
          }
        }
        .ranking-contador{width:20%;}
        .ranking-codigo{width:80%;}
        .ranking-autor{width:100%;}
        .ranking-coautores{width:100%;}
        .ranking-coordenador{width:100%;}
        .ranking-pontos{width:100%;}
      }
    }
  }

  .lista-usuarios{
    width: 100%;
    border: 1px @secondary solid;
    tr{
      th, td{
        border: 1px @secondary solid;
        padding: 7px;
        background: #fff;
        .asap(12px);
        color:@tertiary;
        strong{
          font-weight: bold;
          &.vermelho{color:@warning;}
          &.success{color:@success;}
        }
      }
      th{
        font-weight: bold;
      }
      td.status{
        text-align: center;
        a, button{
          .inline;
          padding: 5px 10px;
          line-height: 100%;
          cursor: pointer;
          margin-top: 5px;
          border: 1px @tertiary solid;
          transition: all .3s ease-in-out;
          background:#fff;
          color:@tertiary;
          border-radius: 4px;
          .asap(12px);
          &:active, &:visited{color:@tertiary;}
          &:hover{
            background:@tertiary;
            color:#fff;
          }
        }
      }
    }
  }

  p.titulo-categoria{
    border: 1px @primary solid;
    .montserrat(16px, bold);
    padding: 2px 5px;
    background: @secondary;
    color: @primary;
  }
}

.confirm-box{
  background: #fff;
  padding: 30px 50px;
  @media @small{
    padding: 15px;
  }
  p{
    .asap(18px);
    margin-bottom: 20px;
    color: @tertiary;
    width: 600px;
    max-width: 100%;
    text-align: center;
    &.code{
      strong{
        font-weight: bold;
      }
    }
  }
  .lista-dados{
    p {
      margin-bottom: 15px;
      line-height: 150%;
      font-size: 16px;
      text-align: left;
    }
  }
  .controles{
    padding-top: 20px;
    border-top: 1px @neutral solid;
    user-select: none;    
    .botao-voltar{
      .inline;
      padding: 10px 20px;
      border: 1px @tertiary solid;
      .asap(15px, bold);
      color:@neutral;
      transition: all .3s ease-in;
      &:active, &:visited{color:@neutral;}
      &:hover{
        color:#fff;
        background: @neutral;
      }
    }
    .botao-envio{
      cursor: pointer;
      float:right;
      .inline;
      padding: 10px 20px;
      border: 1px @tertiary solid;
      .asap(15px, bold);
      color: #fff;
      background: @tertiary;
      transition: all .3s ease-in;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @primary;
      }
    }
    .botao-remover{
      cursor: pointer;
      float:right;
      .inline;
      padding: 10px 20px;
      border: 1px @secondary solid;
      .asap(15px, bold);
      color: #fff;
      background: @secondary;
      transition: all .3s ease-in;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @tertiary-faded;
      }
    }
  }
}

.envio-farmaco{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px @secondary solid;
  padding: 30px;
  background: @quaternary;
  margin: 0 0 50px 0;

  p{
    display: inline-block;
    vertical-align: middle;
    .asap(18px);
    color:@tertiary;
  }

  form{
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;

    input[type="text"] {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      line-height: 40px;
      background: #fff;
      .asap(16px);
      color: @tertiary;
      border: 1px @tertiary solid;
      padding: 6px 10px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      display: inline-block;
      vertical-align: middle;
      border: 1px @tertiary solid;
      color: @quaternary;
      padding: 0 20px;
      .asap(16px, bold);
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      border: 0;
      background: @tertiary;
      transition: all .3s ease-in;

      &:hover {
        background: @primary;
      }
    }
  }
}

#activation-link-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;

  #activation-link-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background: @shadow_light;
    opacity: 0.6;
  }

  #activation-link-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 700px;
    max-width: 98%;
    background: @quaternary;
    border: 1px @neutral_dark solid;

    h1 {
      padding: 10px 20px;
      background: @primary;
      color: @shadow_light;
      .asap(26px, bold);
    }

    .activation-link-modal-body {
      padding: 0px 20px 20px 20px;
      background: @quaternary;
      position: relative;

      input {
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        font-size: 10px;
        border: 1px @neutral_dark solid;
        color: @tertiary;
      }

      button {
        position: absolute;
        top: 20px;
        right: 20px;
        .inline;
        padding: 5px 10px 4px 10px;
        line-height: 100%;
        cursor: pointer;
        border: 1px @neutral_dark solid;
        transition: all .3s ease-in-out;
        background:#fff;
        color:@neutral_dark;
        .asap(12px);
        &:active, &:visited{color:@tertiary;}
        &:hover{
          background:@tertiary;
          color:#fff;
        }
      }
    }
  }
}