.group-create-btn {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 40px 0;
    .asap(16px);
    padding: 5px 10px;
    color: @secondary;
    transition: all .3s ease-in;
    background: @primary;
    color:#fff;

    &:hover {
        background: @secondary;
    }
}

#group-filter {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 40px 20px;
    
    #group-filter-input {
        .asap(16px);
        border: 1px @primary solid;
        padding: 3px 10px;
        color: @secondary;
    }
}

.group-table {
    width: 100%;

    tr {

        td {
            color: @tertiary;
            line-height: 130%;
            .asap(15px);
            padding: 15px 5px;
            border-top: 1px @primary solid;
            width: 20%;

            &:first-child {
                width: 30%;
            }

            &:nth-child(2) {
                width: 30%;

                a {
                    width: 60%;
                }
            }

            small {
                font-size: 12px;
            }

            a {
                margin-top: 20px;
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: 5px 0;
                border: 1px @tertiary solid;
                transition: all .3s ease-in;
                text-align: center;
                color: @tertiary;
                font-size: 13px;

                &:hover {
                    background: @primary;
                    color: #fff;
                }
            }

            .small-link{
                display: inline;
                font-size: 12px;
                color: @secondary;
                text-decoration: underline;
                padding: 0;
                margin: 0;
                border: 0;
            }
        }

        &:last-child td {
            border-bottom: 1px @primary solid;
        }
    }
}

#add-group-form {
    margin: 40px auto;
    width: 800px;
    max-width: 100%;

    input[type="text"],
    input[type="email"] {
        display: block;
        margin-bottom: 5px;
        height: 60px;
        line-height: 60px;
        box-sizing: border-box;
        padding: 18px 20px;
        border: 1px @secondary solid;
        color: @tertiary;
        width: 100%;
        .asap(16px);
    }

    input[type="submit"] {
        display: block;
        padding: 0 40px;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        color: @shadow_light;
        background: @primary;
        transition: all .3s ease-in;
        border: 0;
        .asap(16px, bold);
        cursor: pointer;

        &:hover{
            background: @secondary;
        }
    }
}