.conteudo-avaliacoes{

  h2{
    .montserrat(32px, bold);
    color: @primary;
    display: block;
    position: relative;
    &.titulo-historico{
      margin-top: 80px;
      font-size: 28px;
    }
  }

  .contem-colunas{
    margin: 20px 0 60px 0;
    font-size: 0;
    .coluna{
      p{
        display: block;
        .asap(16px);
        line-height: 140%;
        margin: 0 0 15px 0;
      }
      .texto-avaliacao{
        padding: 15px 40px 20px 0;
        color: @tertiary;
        @media @small{
          padding: 15px 0;
        }
      }
      .destaque{
        padding: 15px 25px;
        color: #fff;
        background: @tertiary;
        p{
          font-size: 14px;
          margin: 0;
        }
      }
      ol{
        margin-top: 5px;
        list-style: decimal inside;
        li{
          line-height: 140%;
          .asap(14px);
          color: #fff;
        }
      }
    }
  }

  p.titulo-categoria{
    .montserrat(14px);
    color: @primary;
    background: @secondary;
    line-height: 100%;
    padding: 2px 5px;
    margin-bottom: 3px;
    font-weight: bold;
    &.destaque{
      background: @primary;
      color: #fff;
    }
  }

  .descricao-categoria{
    padding: 5px;
    span{
      color: @secondary;
      .montserrat(22px, bold);
      .inline;
      width: 28%;
    }
    p{
      width: 71%;
      color: @tertiary;
      .asap(14px);
      line-height: 140%;
      .inline;
      @media @small{
        width: 100%;
      }
    }
  }

  .lista-avaliacoes{
    margin-top: 50px;
    margin-bottom: 40px;
    .linha-loader{
      height: 50px;
      margin: 15px 0;
      text-align: center;
      background: url('/images/loader.svg') center center no-repeat;
    }
    .linha{
      background: #fff;
      font-size: 0;
      min-height: 60px;
      border: 1px @primary solid;
      border-bottom: none;
      position: relative;

      &:last-child{
        border-bottom: 1px @primary solid;
      }

      .nenhum{
        line-height: 60px;
        text-align: center;
        .asap(20px, bold);
        color:@secondary;
      }

      .avaliacao-codigo{
        .inline;
        width: 28.006%;
        a {
          display: block;
          transition: all .3s ease-in;

          &:hover {
            background: @tertiary-faded;
            span {
              color: #fff;
            }
          }
        }
        span{
          transition: all .3s ease-in;
          height: 60px;
          line-height: 60px;
          display: block;
          box-sizing: border-box;
          padding: 0 20px;
          .asap(16px);
          color:@tertiary;
        }
        @media @small{
          width: 100%;
        }
      }

      &.editavel:first-child{
        .avaliacao-codigo{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(12px, bold);
            color:@secondary;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-170%);
          }
        }
      }

      .erro-linha{
        border-top: 1px @success solid;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        background-color:@warning;
        box-sizing: border-box;
        .asap(14px);
        color:#fff;
      }

      .avaliacao-criterio{
        .inline;
        width: 18%;
        @media @small{
          width: 100%;
        }

        .input{
          background: #fff;
          height: 60px;
          border-left: 1px @primary solid;
          display: block;
          text-align: center;
          .asap(20px, bold);
          color:@tertiary;
          position: relative;
          box-sizing: border-box;
          padding: 5px 15px;
          .padding{
            position: relative;
          }
          @media @small{
            border-left: none;
          }
        }

        a{
          width: 100%;
          box-sizing: border-box;
          display: block;
          background: @secondary;
          height: 60px;
          text-align: center;
          line-height: 60px;
          .asap(16px, bold);
          color:#fff;
          border-left: 1px @primary solid;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@tertiary;
          }
          i{
            display: none;
            margin: 13px 0;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            width: 30px;
            height: 30px;
          }
          &.enviando{
            background-color:@secondary;
            span{display:none;}
            .loader{
              .inline;
              opacity: 1;
            }
          }
          &.sucesso{
            background-color:@secondary;
            span, .loader{display:none;}
            .sucesso{
              .inline;
              background: url('/images/icon-sucesso.png') center center no-repeat;
              opacity: 1;
            }
          }
        }

        input[type="text"]{
          background: transparent;
          height: 50px;
          line-height: 50px;
          border: none;
          display: block;
          text-align: center;
          box-sizing: border-box;
          .asap(20px);
          max-width: 100%;
          color: @tertiary;
          position: relative;
          z-index: 1;
          cursor:pointer;
        }

        .input span{
          position: absolute;
          top: 0;
          left: 50%;
          z-index: 0;
          height: 50px;
          width: 0;
          background: #DDD;
          opacity: 0;
          transition: all .2s ease-in-out;
        }


        input[type="text"]:focus{
          outline: none;
          & ~ span{
            opacity: 1;
            width: 100%;
            left: 0;
          }
        }

        input[type="text"]:disabled{
          color: @secondary;
          font-size: 13px;
          font-weight: normal;
          @media @small{
            width: 100%;
          }
        }

        &:last-child{background: @success;}
      }
      &:first-child{
        .avaliacao-criterio{
          position: relative;
          &:after{
            content: attr(data-label);
            .asap(13px, bold);
            color:@tertiary;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
            @media @small{
              top: 50%;
              left: 18px;
              transform: translateY(-50%);
            }
            @media @medium{
              font-size: 10px;
              white-space: nowrap;
            }
          }
        }
      }

    }
  }

}


.loader,
.loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.loader {
  //margin: 60px auto;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
