.lista-blog {

    .centralizar {
        padding: 60px 0 80px 0;
        text-align: center;
    }

    .ui-sortable-helper {
        display: table !important;
    }

    h1 {
      color: @primary;
      .asap(24px, bold);
    }

    form.post {
        margin: 40px auto;
        width: 800px;
        max-width: 100%;

        h2 {
          .asap(22px, bold);
          color: @primary;
          text-align: left;
          display: block;
          margin-bottom: 10px;

          &.section-title {
            margin-top: 40px;
          }
        }

        #editor {
          height: 250px;
          margin-bottom: 40px;
        }

        & > input[type="text"] {
            display: block;
            margin-bottom: 5px;
            height: 60px;
            line-height: 60px;
            box-sizing: border-box;
            padding: 18px 20px;
            border: 1px @secondary solid;
            color: @tertiary;
            width: 100%;
            .asap(16px);
        }

        & > textarea {
            resize: none;
            overflow: hidden;
            display: block;
            margin-bottom: 10px;
            height: 240px;
            line-height: 140%;
            box-sizing: border-box;
            padding: 18px 20px;
            border: 1px @secondary solid;
            color: @tertiary;
            width: 100%;
            .asap(16px);
        }

        & > input[type="submit"] {
            display: block;
            padding: 0 40px;
            height: 60px;
            line-height: 60px;
            margin: 0 auto;
            color: @shadow_light;
            background: @primary;
            transition: all .3s ease-in;
            border: 0;
            .asap(16px, bold);
            cursor: pointer;

            &:hover{
                background: @secondary;
            }
        }
    }

    table {
        width: 100%;
        margin-top: 30px;

        tr {
            width: 100%;

            td {
                border: 1px @secondary solid;
                width: 100%;
                height: 60px;
                line-height: 60px;
                color: @tertiary;
                .asap(16px);

                a {
                    display: block;
                    color: #fff;
                    .asap(16px, bold);
                    transition: all .3s ease-in;

                    &:hover{
                        background: @secondary;
                    }
                }

                img {
                    display: inline-block;
                    vertical-align: -4px;
                    margin-right: 8px;
                }

                &.order {
                    width: 5%;
                }

                &.title {
                    width: 69%;
                    text-align: left;
                    padding-left: 15px;
                }

                &.edit {
                    width: 13%;
                    background: @primary;                    
                }

                &.remove {
                    width: 13%;
                    background: @warning-dark;

                    form,
                    button {
                        color: #fff;
                        .asap(16px, bold);
                        border: 0;
                        background: @warning-dark;
                        width: 100%;
                        height: 60px;
                        display: block;
                        transition: all .3s ease-in;
                        cursor: pointer;

                        &:hover{
                            background: @secondary;
                        }
                    }
                }
            }
        }
    }

    .blog-cell-list {
      text-align: left;

      .blog-cell {
        width: 32%;
        max-width: 480px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-bottom: 30px;

        &:first-child {margin-right: 1%;}
        &:nth-child(2) {margin-right: 1%;}

        .blog-thumb-container {
          margin: 0 auto;
          max-width: 604px;
          width: 100%;
          &:after {
            clear: both;
          }
          &:before,
          &:after {
            content: "";
            display: table;
          }
          .blog-thumb-wrapper {
            .blog-thumb {
              position: relative !important;
              width: 100% !important;
              height: 100% !important;
              overflow: hidden;
              img {
                max-width: 100%;
                height: auto;
                width: 100% !important;
                height: 100% !important;
                margin: -9.5% 0px -12%;
              }
            }
          }
        }
      }

      a {
        display: block;
        background: @primary;
        min-height: 210px;
        margin-right: 1%;

        .blog-video {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          height: 0;
        
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        h2 {
          transition: color .3s ease-in;
          padding: 20px;
          font-size: 32px;
          color: @tertiary;
          line-height: 120%;
        }

        .blog-thumb-container + h2 {
          font-size: 26px;
        }

        &:hover h2 {
          color: @quaternary;
        }
      }

      h1 {
        .asap(46px, bold);
        color: @secondary;
        line-height: 130%;
        margin-bottom: 20px;
      }

      h2 {
        .asap(18px, bold);
        color: @secondary;
        line-height: 130%;
      }

      p {
        .asap(16px);
        color: @tertiary;
      }

      img,
      iframe {
        max-width: 100%;
        display: block;
        margin: 0 auto 15px auto;
      }
    }
}

.detalhe-blog {
  text-align: left;

  .centralizar {
    padding: 60px 0 80px 0;
  }

  h1 {
    .montserrat(48px, bold);
    color: @secondary;
    line-height: 140%;
    float: left;
  }

  .outros-videos {
    float: left;
    clear: left;
    margin-top: 70px;
    border: 1px @secondary solid;
    color: @primary;
    transition: all .3s ease-in;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    width: auto;
    .montserrat(16px);

    &:hover {
      color: #fff;
      background: @secondary;
    }
    img {
      margin-right: 5px;
    }
  }

  .coluna-blog {
    width: 62%;
    padding-left:38%;
    min-height: 300px;
    user-select: none;

    .embed {
    
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      color: @secondary;
      .asap(24px, bold);
      line-height: 140%;
      margin-bottom: 20px;
    }
    .texto {

      p {
        .asap(16px);
        color: @tertiary;
        line-height: 140%;
      }
    }

    .texto-caso-clinico {
      margin-top: 50px;

      .texto {

      }
    }
  }
}