.conteudo-submeter-caso{
  text-align: center;
  min-height: 400px;
  ul {
    margin: 20px 0;
    text-align: left;
    li{
      list-style: disc inside;
      p {
        display: inline;
      }
    }
  }
  p{
    color: @tertiary;
    line-height: 150%;
    text-align: left;
    margin: 0 auto 20px auto;
    display: block;
    .asap(16px);
    strong{font-weight: bold;}
    &.small{
      font-size: 14px;
    }
    a{
      color: @tertiary;
      font-weight: bold;
      transition: all .3s ease-in;
      &:active, &:visited{color: @tertiary;}
      &:hover{color:@primary;}
    }
    & + p {
      margin-top: 10px 0 25px 0;
    }
  }
  a.download-link{
    .inline;
    margin: 40px 0 30px 0;
    padding: 0 50px;
    border: 1px @tertiary solid;
    text-align: center;
    line-height: 60px;
    background: #fff;
    color: @primary;
    .montserrat(16px, bold);
    transition: all .3s ease-in-out;
    span{
      height: 39px;
      padding: 8px 15px 13px 0;
      .inline;
    }
    &:hover{
      background: @tertiary;
    }
    @media @small{
      padding: 0;
      display: block;
    }
  }
}

.botoes-envio{
  font-size: 0;
  padding: 20px 0 60px 0;
  .box{
    .inline;
    width: 50%;
    @media @small{
      width: 100%;
      margin-bottom: 3px;
    }
    &.inativo{
      a{
        background: @shadow_light;
      }
    }
    a{
      box-sizing: border-box;
      border: 1px @secondary solid;
      display: block;
      padding: 30px;
      background: #fff;
      transition: background .3s ease-in-out;
      @media (max-width: 1200px){
        height: auto;
      }
      h3{
        .montserrat(14px, bold);
        color: @primary;        
      }
      h2{
        .montserrat(18px, bold);
        color: @secondary;        
        margin: 10px 0;
      }
      p{
        margin: 30px auto;
        max-width: 90%;
        box-sizing: border-box;
        line-height: 160%;
        color:@tertiary;
        .asap(14px);
        padding: 0 25px;
      }
      .botao{
        min-height: 59px;
        span{
          font-weight: normal;
          color: @primary;
          .inline;
          vertical-align: middle;
          img{
            margin-right: 10px;
          }
          small{
            margin-top: 8px;
            display: block;
            text-align: left;
            .asap(11px);
          }
        }
        padding-top: 15px;
        border-top: 1px @primary solid;
        .montserrat(16px, bold);
      }
      &:hover{
        background: @shadow_light;
      }
    }
    &:first-child,
    &:nth-child(2){
      a{ min-height: 330px; }
      a{ border-bottom: none; }
    }
    &:first-child,
    &:nth-child(3){
      a{ border-right: none; }
    }
    &:nth-child(3),
    &:nth-child(4){
      a{ min-height: 415px; }
    }
  }
}

.formCaso{
  background: #fff;
  padding: 45px 70px;
  @media @small{
    padding: 15px 5px;
  }
  max-width: 740px;
  width: 100%;
  box-sizing: border-box;
  color: @success;
  .asap(16px);
  h2{
    text-align: center;
    color: @tertiary;
    .asap(16px, bold);
    margin-bottom: 15px;
    span{color: @primary;}
  }
  .input-arquivo{
    height: 40px;
    line-height: 40px;
    border: 1px @tertiary solid;
    margin-bottom: 10px;
    position: relative;
    label{
      position: absolute;
      z-index: 4;
      width: 100%;
      background: #fff;
      cursor: pointer;
      .placeholder{
        padding-left: 15px;
        max-width: 60%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .inline;
        color: @tertiary;
        @media @small{
          max-width: 30%;
        }
      }
      .botao{
        float: right;
        height: 40px;
        line-height: 40px;
        color:#fff;
        background:@tertiary;
        border-left: 1px @success solid;
        font-weight: bold;
        padding: 0 15px;
        transition: all .3s ease-in-out;
      }
      &:hover .botao{
        background: @primary;
      }
    }
    input[type="file"]{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  p{
    color:@tertiary;
    .asap(14px);
    line-height: 130%;
    margin: 10px 0;
    &.lista-medicos {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 30px;
    }
    &.aviso-grupo {
      padding: 0;
      font-size: 12px;
      text-align: left;
      margin-bottom: 30px;
    }
  }
  h2 {
    text-align: left;
    margin-top: 30px;
  }
  select{
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px @secondary solid;
    margin-bottom: 10px;
    padding: 0 15px;
    color:@tertiary;
    background: #fff;
    .placeholder(@neutral);
    .asap(16px);
  }
  label.terms{
    color:@tertiary;
    display: block;
    margin-bottom: 10px;
    .asap(16px);
    height: 40px;
    line-height: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  input[type="submit"]{
    cursor: pointer;
    border: 0;
    height: 60px;
    line-height: 60px;
    .montserrat(20px, bold);
    text-align: center;
    color:#fff;
    transition: all .3s ease-in-out;
    background: @primary;
    width: 100%;
    &:hover{
      color:#fff;
      background: @tertiary;
    }
  }
}

.alerta{
  display: block;
  text-align: center;
  line-height: 140%;
  .asap(16px);
  margin: 20px 0;
  padding: 15px;
  &.alerta-erro{
    background: @warning;
    color: #fff;
  }
  &.alerta-sucesso{
    background: @success;
    color: #fff;
  }
}

.preencher-form{
  h1 {
    .asap(14px, bold);
    color: @primary;
  }

  .colunas-info {
    margin-top: 35px;
    text-align: left;
  }

  .coluna-info {
    width:60%;
    .inline;

    p {
      padding-right: 120px;
      .asap(16px);
      color: @tertiary;
      line-height: 145%;
      
      & + p {
        margin-top: 40px;
      }
    }
  }

  .coluna-categoria { 
    width:39%;
    .inline;

    h2 {
      color: @primary;
      .asap(14px, bold);
    }

    h3 {
      margin: 12px 0 18px 0;
      color: @secondary;
      .asap(18px, bold);
    }

    p {
      color: @tertiary;
      .asap(14px);
    }
  }

  form.form-caso {
    display: block;
    margin: 80px 0 0 0;

    .input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 5px;
      text-align: left;

      & > label {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
        .asap(16px);
        color: @tertiary;
        text-align: right;
        padding-right: 5px;
        height: 30px;
        line-height: 30px;
      }

      input[type="text"] {
        display: inline-block;
        vertical-align: middle;
        .inline;
        width: 42%;
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        border:1px @primary solid;
        padding: 4px;
        .asap(15px);
        color: @secondary;
      }

      textarea {
        display: inline-block;
        vertical-align: middle;
        .inline;
        width: 42%;
        height: 400px;
        line-height: 170%;
        box-sizing: border-box;
        border:1px @primary solid;
        padding: 4px;
        resize: none;
        overflow: auto;
        .asap(15px);
        color: @secondary;
        &.reduzido {
          height: 300px;
        }
      }

      .img-editor-wrapper {
        display: inline-block;
        vertical-align: middle;
        .inline;
        width: 42%;
        height: auto;
        box-sizing: border-box;

        .img-editor,
        .readonly-editor {
          width: 100%;
          height: auto;
          min-height: 400px;
          color: @secondary;
        }

        .readonly-editor {
          border: 1px @primary solid;
          padding: 5px;
          background: #CCC;
        }

        .ql-container,
        .ql-toolbar {
          border-color: @primary;
        }
      }

      .right-label {
        .asap(11px);
        color: @tertiary;
        display: inline-block;
        vertical-align: middle;
        .inline;
        width: 20%;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
      }
    }

    .box-paciente {
      margin: 20px 0;
      background:@quaternary;
      padding: 25px 0;
      box-sizing: border-box;

      h2 {
        padding-left: 10px;
        .asap(16px);
        text-align: left;
        color: @primary;
      }

      h3 {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
        .asap(16px);
        color: @tertiary;
        text-align: right;
        padding-right: 5px;
        height: 30px;
        line-height: 30px;
      }

      .radio-buttons {
        border: 1px @primary solid;
        padding: 4px 10px 4px 4px;
        height: 30px;
        line-height: 30px;
        .inline;
        background: #FFFFFF;
        .asap(16px);
        color: @tertiary;
      }

      .right-label{
        font-size: 14px;
        width: auto;

        small {
          margin-left: 10px;
          font-size: 11px;
        }
      }

      input[type="text"] {
        width: 50px;
      }
    }

    .copyright {
      margin: 40px 0;

      p {
        text-align: center;
        max-width: 100%;
      }
    }

    .botoes {
      text-align: left;
    }

    input[type=submit] {
      margin-left: 35%;
      width: 20%;
      .inline;
      border: 1px @secondary solid;
      height: 55px;
      line-height: 55px;
      box-sizing: border-box;
      background: #fff;
      .asap(16px, bold);
      text-align: center;
      color: @primary;
      cursor:pointer;
      transition: all .3s ease-in;

      & + input[type=submit]{
        margin-left: 1%
      }

      &:hover {
        background: @secondary;
        color: @quaternary;
      }

      &.desabilitado {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    a {
      display: block;
      width: 41%;
      margin-left: 35%;
      text-align: center;
      margin-top: 20px;
      height: 55px;
      line-height: 55px;
      box-sizing: border-box;
      border: 1px @secondary solid;
      .asap(16px, bold);
      color: @primary;
      transition: all .3s ease-in;

      img {
        display: inline-block;
        vertical-align: -13px;
        margin: 0 10px 0 0;
      }

      &:hover {
        background: @secondary;
        color: @quaternary;
      }

      &.desativado {
        opacity: 0.6;
        cursor: not-allowed;
        &:hover {
          background: #fff;
          color: @primary;
        }
      }
    }
  }
}