.conteudo-home{
  text-align: center;
  .box-home{
    p{
      color:@tertiary;
      .asap(18px);
      width: 100%;
      display: block;
      margin: 0 auto 20px auto;
      max-width: 680px;
      line-height: 180%;
    }    
  }
}

.link-bula{
  display: inline-block;
  margin: 30px auto 0 auto;
  border: 1px @tertiary solid;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  color: @primary;
  .asap(16px);
  transition: all .3s ease-in;
  &:hover{
    background:@tertiary;
  }
  @media @small{
    height: auto;
    padding: 20px 0;
    width: 100%;
    line-height: 100%;
  }
}

.conteudo-regulamento{
  .asap(16px);
  color:@tertiary;
  .destaque {
    color: @secondary;
  }
  h1 {
    text-align: center;
    .montserrat(48px);
    color: @tertiary;
    display: block;
  }
  .coluna-regulamento {
    width: 53%;
    padding-left:45%;
  }
  a,
  a:visited,
  a:active {
    color:@tertiary;
  }
  h2{
    font-weight: bold;
    display: block;
    margin: 10px 0 25px 0;
    color:@primary;
  }
  h3{
    color:@primary;
    font-weight: bold;
  }
  p, li{
    .montserrat(16px);
    color:@tertiary;
    line-height: 150%;
    margin: 20px 0;
  }
  strong{
    font-weight: bold;
  }
  .sublinhado{
    text-decoration: underline;
  }
  .box{
    margin: 15px 0;
    padding: 0 15px;
    border:1px @secondary solid;
  }
  .link-voltar{
    display: block;
    padding: 0 0 15px 0;
    border-bottom: 1px @shadow solid;
    margin-bottom: 15px;
    a{

    }
  }
  i{
    font-style: italic;
  }
  ul{list-style-type: disc;}
  ol{list-style-type: decimal;}
  ul, ol{
    line-height: 150%;
    margin: 20px 0;
    list-style-position: inside;
    li{
      margin: 10px 0;
      ul{
        padding-left: 30px;
      }
    }
  }
}

.conteudo-cronograma{
  h1{
    color: @secondary;
    .montserrat(48px, bold);
    font-weight: bold;
    @media @small{
      font-size: 28px;
    }
  }
  img{
    display: block;
    margin-top: 30px;
    @media @small{
      margin: 30px auto;
      max-width: 30%;
    }
  }
  .lista-cronograma{
    li{
      padding: 17px 0 17px 240px;
      position: relative;
      strong{
        .montserrat(22px, bold);
        color: @secondary;
        display: block;
        line-height: 130%;
      }
      span{
        .asap(18px);
        color: @tertiary;
        display: block;
        line-height: 130%;
        margin-top: 5px;
      }
      &.ativo{
        background: @primary;
        strong{
          color: #fff;
        }
        span{
          color: #fff;
        }
      }
      &.ativo:before{
        content: attr(data-label-ativo);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        color: @primary;
        background: @tertiary;
        line-height: 93px;
        width: 170px;
        text-align: center;
        .montserrat(16px, bold);
      }
      &.ativo:after{
        content:"";
        position: absolute;
        top: 50%;
        left: 170px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 14px;
        border-color: transparent transparent transparent @secondary;
        transform: translateY(-50%);
      }
      @media @small{
        padding: 17px 0 17px 120px;
        &.ativo:before{
          box-sizing: border-box;
          padding-top: 35px;
          font-size: 12px;
          width: 90px;
          line-height: 100%;
        }
        &.ativo:after{
          left: 90px;
        }
      }
    }
  }
}

.conteudo-avaliadores{
  h1{
    color: @secondary;
    .montserrat(48px);
    font-weight: bold;
    @media @small{
      font-size: 28px;
    }
  }
  img{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    @media @small{
      margin: 30px auto;
    }
  }
  .lista-avaliadores{
    padding-left: 100px;
    @media @small{
      padding-left: 0px;
    }
    h3{
      .montserrat(18px, bold);
      color:@tertiary;
      display: block;
    }
    h4{
      margin-top: 10px;
      .montserrat(18px);
      color:@tertiary;
      display: block;      
    }
    p{
      line-height: 140%;
      .asap(18px);
      color:@tertiary;
      display: block;
      margin: 6px 0 30px 0;
    }
  }
}

.mini-bula{
  padding-top: 30px;
  border-top: 1px @tertiary solid;
  max-width: 60%;
  margin: 30px auto 0 auto;
  h3{
    .asap(16px);
    color: @tertiary;
    font-weight: bold;
  }
  p{
    font-size: 14px;
  }
}

.lista-grupo{
  width: 80%;
  margin: 0 auto;
  .asap(16px);
  tr {
    width: 100%;
    margin-bottom: 20px;
    td {      
      border-bottom: 1px @secondary solid;
      box-sizing: border-box;
      padding: 10px;
      width: 50%;
      .asap(16px);
      color: @tertiary;
      &:last-child{
        padding: 0;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        background: @primary;
        .asap(16px, bold);
        color:@tertiary;
        transition: all .3s ease-in;
        &:hover{
          background: @tertiary;
          color: @neutral_light;
        }
      }
      span{
        display: block;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}
.aviso-grupo{
  margin-top: 40px;
  .asap(16px);
  color: @tertiary;
  text-align: center;
  line-height: 130%;
  padding: 0 140px;
}
.titulo-grupo {
  text-align: center;
  color:@secondary;
  .asap(22px);
  margin-bottom: 40px;
}