.conteudo-login{
  p{
    display: block;
    text-align: center;
    color: @tertiary;
    line-height: 140%;
    strong{font-weight: bold;}
    .asap(16px);
    &.alerta{
      margin: 20px 0;
      padding: 15px;
      &.alerta-erro{
        background: @warning;
        color: #fff;
      }
      &.alerta-sucesso{
        background: @success;
        color: #fff;
      }
    }
  }
  .form-register,
  .form-login{
    padding: 90px 0 70px 0;
    text-align: center;
    @media @small{
      padding: 40px 0;
    }
    form{
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 500px;
      padding-bottom: 40px;
      input{
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: @tertiary;
        background: #EDEBF0;
        .asap(16px);
      }
      input[type="password"]{
        margin-top: 2px;
      }
      input[type="submit"]{
        font-size: 18px;
        margin-top: 5px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        background: @tertiary;
        color:#fff;
        height: 40px;
        line-height: 40px;
        &:hover{
          background:@secondary;
        }
      }
      &.wide{
        max-width: 100%;
        &.consent-form {
          @media @large{
            padding: 0 200px;
            box-sizing: border-box;
          }
        }
        input[type="submit"]{
          margin: 25px  auto;
          display: block;
          width: auto;
          padding: 0 20px;
        }
      }
      label{
        .asap(16px);
        color: @tertiary;
        line-height: 130%;
        a{
          color: @tertiary;
          font-weight: bold;
          transition: color .3s ease-in;
          &:active, &:visited{
            color: @tertiary;
          }
          &:hover{
            color: @secondary;
          }
        }
        > input {
          width: 20px;
          display: inline-block;
          vertical-align: -12px;
          &:focus{outline:none;}
        }
      }
    }
    a.recuperar-senha{
      .asap(12px);
      color: @tertiary;
			transition: all .3s ease-in-out;
			&:active, &:visited{ color: @tertiary; }
			&:hover{color:@secondary;}
    }
  }

  .form-register{
    padding: 40px 0 280px 0;
    form{
      margin-top: 20px;
    }
  }

}
