@mini	: ~"(min-width: 0px) and (max-width: 425px)";
@small	: ~"(min-width: 0px) and (max-width: 789px)";
@medium : ~"(min-width: 790px) and (max-width: 1199px)";
@large  : ~"(min-width: 1200px)";

@primary:#F49228;
@secondary:#8A633E;
@tertiary:#403736;
@tertiary-faded:#7f7574;
@quaternary:#E7E4E1;

@warning:#E55370;
@warning-dark: #8A2B0B;
@success:#277F8D;

@neutral:#757876;
@neutral_dark:#4D4D4D;
@neutral_light:#E6E6E6;

@shadow:#967E96;
@shadow_light:#EDEBF0;

@default_link:#080F5D;

.asap(@fsize: 12px, @fweight: normal){
	font-family: 'Asap', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.montserrat(@fsize: 12px, @fweight: normal){
	font-family: 'Montserrat', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

strong{font-weight: bold;}
a{text-decoration: none;}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}

.inline{
	display: inline-block;
	vertical-align:top;
	zoom: 1;
}
